.search {
    min-height: 5rem;
    text-align: center;
  
    input {
      width: 300px;
      background-color: whitesmoke;
      height: 20px;
      border-top: none;
      border-left: none;
      border-right: none;
      border-bottom: solid 3px lightgray;
    }
  }