.card {
  width: 30%;
  height: 12rem;
  margin: 5px;
  background-color: whitesmoke;
  border: solid 3px #e0e1e1;
  box-shadow: 3px 2px 1px lightgray;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  .infos {
    width: 80%;
    border-top: solid 2px green;
    margin-bottom: 10px;

    p {
      display: flex;
      flex-direction: column;
      margin: 5px;
      color: darkslategrey;
      margin-left: 10px;
    }
  }
}

.card:hover {
  border: solid 3px darkgreen;
}

.card:active {
  background-color: lightgray;
}
