.card {
  width: 30%;
  height: 12rem;
  margin: 5px;
  background-color: $bg-white;
  border: solid $border-standard $gray;
  box-shadow: $shadow-standard $dark-gray;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  .infos {
    width: 80%;
    border-top: solid 2px $green;
    margin-bottom: 10px;

    p {
      display: flex;
      flex-direction: column;
      margin: 5px;
      color: $text-gray;
      margin-left: 10px;
    }
  }
}

.card:hover {
  border: solid $border-standard $dark-green;
}

.card:active {
  background-color: $text-gray
}
