//========================================================//
//MAIN COLORS

$primary: #08948c;
$white: white;
$bg-white: whitesmoke;
$gray: #e0e1e1;
$green: green;



//========================================================//
//Color nuances
$light-gray: lighten($gray, 70%);
$dark-gray: darken($gray, 10%);
$text-gray: darkslategrey;

$dark-green: darkgreen;



//========================================================//
//Deco

$primary-shadow: #406b6b;